%h1 You've been challenged!
%p
  You've been issued a challenge by
  = "#{@challenger.name}."
  Click
  = link_to("here", challenge_url(@challenge))
  to respond to this challenge!
%p
  Thanks, Battlecon Online
