!!!
%html
  %head
    %title
      BC
    %script{:src => "//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"}
  %body
    %h1
      What up
    %game
      %form
        %input{:type => "text"}
  :javascript
    $(function() {
      $('input').closest('form').on('submit', function() {
        var $input = $(this).find('input')
        $.post('/games/#{@game_id}/', {
          'player_id': "#{@player_id}",
          'action': $input.val()
        }, function(data) {
          console.log("Got response", data)
        }, 'json')
        return false;
      })
    })
