!!!
%html
  %head
    %title
      BC
    %script{:src => "//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"}
  %body
    %h1
      Battlecon
    .game
      .board
        .space.space-0
        .space.space-1
        .space.space-2
        .space.space-3
        .space.space-4
        .space.space-5
        .space.space-6
      .myCards
      .theirCards
      .eventLog
      .userInput
        .prompt
          You need to answer:
          %span.currentQuestion
        .answerLinks
        %form.freeForm
          %input{:type => "text"}
  %script{:src => "/game.js"}
  :javascript
    Game.init("#{@player_id}", "#{@game_id}", #{Game.character_names})
