!!!
%html{:lang => 'en'}
  %head
    %title
      BC
    %script{:src => "/jquery.min.js"}
    %link{:href => "/bootstrap.min.css", :type => "text/css", :rel => "stylesheet"}
    %link{:href => "/game.css", :type => "text/css", :rel => "stylesheet"}
    %link#favicon{:rel => "shortcut icon", :type => "image/png", href:"/icon.png"}
  %body
    .container
      %h1
        Battlecon
      .js-loading
        Loading...
      .js-choose-character{:style => "display: none"}
        .row
          - Game.character_names.each do |name|
            %a.btn= name
      .js-in-game{:style => "display: none"}
        .row.attack-pairs
          .span6
            .js-mine.attack-pair.row
              .span3.style
                .well
                  .name
                  .rpp
                    .range
                    .power
                    .priority
                  .effects
              .span3.base
                .well
                  .name
                  .rpp
                    .range
                    .power
                    .priority
                  .effects
            .row
              .offset2.span2.js-finalize-attack-pair{:style => "display: none"}
                .btn.js-submit-attack-pair Submit
          .span6
            .js-theirs.attack-pair.row
              .span3.style
                .well
                  .name
                  .rpp
                    .range
                    .power
                    .priority
                  .effects
              .span3.base
                .well
                  .name
                  .rpp
                    .range
                    .power
                    .priority
                  .effects
        .row
          .span2.js-mine.funny-well.life
          .board
            .span1.space.s0
            .span1.space.s1
            .span1.space.s2
            .span1.space.s3
            .span1.space.s4
            .span1.space.s5
            .span1.space.s6
          .span2.js-theirs.offset1.funny-well.life
        .row
          .span12
            .well.event-log
              %h6 Game log
              %p Event here!
              %p another event!
              %p event log is great!
        .row
          .js-mine
            .span2.funny-well
              %h4.heading Tokens
              .collapsable.js-tokens
            .span2.funny-well
              %h4.heading Styles
              .collapsable.js-styles
            .span2.funny-well
              %h4.heading Bases
              .collapsable.js-bases
          .js-theirs
            .span2.funny-well
              %h4.heading Styles
              .collapsable.js-styles
            .span2.funny-well
              %h4.heading Bases
              .collapsable.js-bases
            .span2.funny-well
              %h4.heading Tokens
              .collapsable.js-tokens
        .free-form
          .row
            .span4.offset4
              %form
                %input{:type => "text", :style => "width: 100%"}
        .js-answers
  %script{:src => "/game.js"}
  :javascript
    Game.init("#{@player_id}", "#{@game_id}")
