.attack-pair {
  /*background-color: #ccc;*/
}
.space {
  margin-bottom: 5px;
}
.space:before    {position: absolute;}
.space.s0:hover:before {content: "0"; color: #aaa;}
.space.s1:hover:before {content: "1"; color: #aaa;}
.space.s2:hover:before {content: "2"; color: #aaa;}
.space.s3:hover:before {content: "3"; color: #aaa;}
.space.s4:hover:before {content: "4"; color: #aaa;}
.space.s5:hover:before {content: "5"; color: #aaa;}
.space.s6:hover:before {content: "6"; color: #aaa;}

.space.clickToMove {
  cursor: pointer;
  background-color: #cec;
}

.js-current-beat {
  text-align: center;
}

.space, .funny-well {
  min-height: 50px;
  height: 100%;
  margin-bottom: 5px;
  background-color: #eee;
  border: 1px solid #ccc;
  padding: 4px;
  box-sizing: border-box;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.space {
  min-height: 90px;
}

.meta {
  position: absolute;
  text-align: center;
}

.header .character-desc {
  display: none;
  /*position: absolute;
  width: 400px;*/
}

.event-log {
  max-height: 100px;
  overflow: scroll;
}

.name {
  text-align: center;
}
.style .rpp, .special-action .rpp {
  text-align: right;
}

/* Range, power, priority */
.style .range:before, .special-action .range:before, .preview .range:before{
  content: "Range: ";
  font-weight: bold;
}
.style .priority:before, .special-action .priority:before, .preview .priority:before{
  content: "Priority: ";
  font-weight: bold;
}
.style .power:before, .special-action .power:before, .preview .power:before{
  content: "Power: ";
  font-weight: bold;
}

.heading {
  text-decoration: underline;
  cursor: pointer;
}

.my-area .funny-well {
  background-color: #cec;
}
.their-area .funny-well {
  background-color: #ecc;
}

.select-me .card {
  background-color: #cec;
  cursor: pointer;
}
.js-finalize-attack-pair {
  cursor: pointer;
}

.js-current-effects, .effects {
  /*font-size: 10px;*/
}
