.game {
  width: 900px;
  margin: auto;
}

.space
{
  width: 83px;
  height: 83px;
  border: 1px solid black;
  float:left;
  margin: 3px;
}

.card-collection
{
  border: 1px solid black;
  float: left;
  margin: 5px;
  width: 400px;
  height: 400px;
}

.card {
  border: 1px solid black;
  margin: 3px;
}

.select-me .card:hover{
  cursor: pointer;
}

.attack-pair {
  display: inline-block;
}
.attack-pair .base, .attack-pair .style {
  width: 150px;
  height: 250px;
  border: 1px solid black;
  display: inline-block;
}

.attack-pair.attack-pair-small .base, .attack-pair.attack-pair-small .style {
  width: 75px;
  height: 125px;
}
