.attack-pair {
  height: 250px;
  /*background-color: #ccc;*/
}
.space {
  margin-bottom: 5px;
}

.space, .funny-well {
  min-height: 50px;
  background-color: #eee;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.style {
  text-align: right;
}
