.attack-pair {
  /*background-color: #ccc;*/
}
.space {
  margin-bottom: 5px;
}

.space, .funny-well {
  min-height: 50px;
  height: 100%;
  margin-bottom: 5px;
  background-color: #eee;
  border: 1px solid #ccc;
  padding: 4px;
  box-sizing: border-box;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.event-log {
  max-height: 100px;
  overflow: scroll;
}

.name {
  text-align: center;
}
.style .rpp {
  text-align: right;
}

/* Range, power, priority */
.style .range:before {
  content: "Range: ";
  font-weight: bold;
}
.style .priority:before {
  content: "Priority: ";
  font-weight: bold;
}
.style .power:before {
  content: "Power: ";
  font-weight: bold;
}

.heading {
  text-decoration: underline;
  cursor: pointer;
}

.my-area .funny-well {
  background-color: #cec;
}
.their-area .funny-well {
  background-color: #ecc;
}

.select-me {
  background-color: #cec;
}
.select-me .card {
  cursor: pointer;
}
.js-finalize-attack-pair {
  cursor: pointer;
}

.js-current-effects, .effects {
  /*font-size: 10px;*/
}
